<html>
 <head>
  <title>Proto Jeff</title>
 </head>
 <body>
  <h1> Administración de Mozos </h1>
   <table>
   <tr>
    <td>Nombre</td>
    <td>Apellido</td>
    <td>Horario de trabajo</td>
    <td>Modificar</td>
    <td>Baja</td>
   </tr>
   <tr>
    <td>Jill</td>
    <td>Smith</td> 
    <td>18:00</td>
    <td><input type="button" value="Modificar" onclick="window.location='altamozo';"></td>
    <td><input type="button" value="Dar de baja"></td>
   </tr>
   <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>18:00</td>
    <td><input type="button" value="Modificar" onclick="window.location='altamozo';"></td>
    <td><input type="button" value="Dar de baja"></td>
   </tr>
</table>
 <input type="button" value="Volver atrás" onclick="window.location='index';">
  <input type="button" value="Alta Nuevo Mozo" onclick="window.location='altamozo';">
 </body>
</html>
