<!DOCTYPE html>
<body>
	<form action="index">
	<table>
		<tr>
			<td>Mozzarella</td>
			<td>8 porciones</td>		
			<td>$ 150</td>
		</tr>
		<tr>
			<td>Coca-cola</td>
			<td>2.25 L</td>		
			<td>$ 40</td>
		</tr>
		<tr>
			<td>Helado</td>
			<td>4 porciones</td>		
			<td>$ 70</td>
		</tr>
		<tr>
			<td>3 productos totales</td>
			<td>-</td>		
			<td>$ 260</td>
		</tr>
			</table>
			<br>
			Nombre: Adrian<br>
			Apellido: Arias<br>
			Direccion: Cochabamba 1885<br>
			Telefono: 2804657904<br>
			<hr>
		 	<input type="submit" value="Volver atrás" onclick="window.location='index';">
		 	<input type="submit" onclick="alert('Su pedido se ah enviado')" value="Concretar operación">
		 	</form>
</body>
