<h1>Proto Jeff</h1>
<p>Bienvenido a la intranet de nuestro sitio web.</p>
<h3>Links</h3>
<a href='facturacion'>Facturación
<br>
<a href='stock'>Stock
<br>
<a href='admmozos'>Administrar mozos
<br>
<a href='listapedidos'>Lista de pedidos actuales
<br>
<a href='llamadasmesas'>Solicitudes de mesas
<br>
<a href='../internet/index'>Volver a página de inicio
