<html>
 <head>
  <title>Proto Jeff</title>
 </head>
 <body>
  <h1> Lista de pedidos pendientes </h1>
   <table>
   <tr>
    <td>Apellido||</td>
    <td>Lugar de entrega||</td>
    <td>Dirección||</td>
    <td>Total||</td>
    <td>Teléfono||</td>
    <td>Detalle||</td>
    <td>Confirmar||</td>
    <td>Modificar||</td>
    <td>Baja||</td>
   </tr>
   <tr>
    <td>Arias</td> 
    <td>Delivery</td>
    <td>Cochabamba 1882</td>
    <td>215</td>
    <td>2804688741</td>
    <td><input type="button" value="Detalle"></td>
    <td><input type="button" value="Confirmar"></td>
    <td><input type="button" value="Modificar"></td>
    <td><input type="button" value="Dar de baja"></td>
   </tr>
   <tr>
    <td>Valdebenito</td> 
    <td>Mesa</td>
    <td>15</td>
    <td>150</td>
    <td>0</td>
    <td><input type="button" value="Detalle"></td>
    <td><input type="button" value="Confirmar"></td>
    <td><input type="button" value="Modificar"></td>
    <td><input type="button" value="Dar de baja"></td>
   </tr>
   </table>

    <input type="button" value="Volver atrás" onclick="window.location='index';">
 </body>
</html>