<html>
	<head>
		<title>Proto Jeff</title>
	</head>
	<body>
		<form>
		<table style="float:left">
			<div>
				<select>
					<option value="volvo">Pizzas</option>
					<option value="saab">Pastas</option>
					<option value="mercedes">Ensaladas</option>
					<option value="audi">Postres</option>
					<option value="audi">Bebidas</option>
				</select>
			
			</div>
		</table>
		<table  style="float:none">
			<div>
			<tr>
				<td>Mozzarella</td>
				<td>8 porciones</td>		
				<td>$ 150</td>
				<td>Cantidad:<input type="number" id="pedido1" value="m1" ></td>
				<td><input type="submit" value="Confirmar" onclick="if(ValidarNumero(document.getElementById('pedido1').value)==true){alert('Actualizado');}"></td>
			</tr>
			<tr>
				<td>Americana</td>
				<td>8 porciones</td>		
				<td>$ 194</td>
				<td>Cantidad:<input type="number" id="pedido2" value="m2" ></td>
				<td><input type="submit"value="Confirmar" onclick="if(ValidarNumero(document.getElementById('pedido2').value)==true){alert('Actualizado');}"></td>
			</tr>
			<tr>
				<td>Especial Ave</td>
				<td>8 porciones</td>		
				<td>$ 180</td>
				<td>Cantidad:<input type="number" id="pedido3" value="m3" ></td>
				<td><input type="submit"value="Confirmar" onclick="if(ValidarNumero(document.getElementById('pedido3').value)==true){alert('Actualizado');}"></td>
			</tr>
			</div>
		</table>
		</form>
		<table style="float:right">
			<br><br>
			<input type="submit" value="Volver atrás" onclick="window.location='index';">
		</table>
	</body>

</html>
