<!DOCTYPE html>

<img src="/index.jpg">
	<table style="float:left">
		<div>
			<select>
				<option value="volvo">Pizzas</option>
				<option value="saab">Pastas</option>
				<option value="mercedes">Ensaladas</option>
				<option value="audi">Postres</option>
				<option value="audi">Bebidas</option>
			</select>
		
		</div>
	</table>
	<table  style="float:center">
		<div>
		<tr>
			<td>Mozzarella</td>
			<td>8 porciones</td>		
			<td>$ 150</td>
		</tr>
		<tr>
			<td>Americana</td>
			<td>8 porciones</td>		
			<td>$ 194</td>
		</tr>
		<tr>
			<td>Especial Ave</td>
			<td>8 porciones</td>		
			<td>$ 180</td>
		</tr>
		</div>
	</table>
<input type="submit" value="Volver atrás" onclick="window.location='index';">
<% if user_signed_in? %>
<input type="submit" value="Comprar" onclick="window.location='gracias';">
<% else %>
<input type="submit" value="Ingresar para comprar" onclick="window.location='../users/sign_in';">  
<% end %> 