<h2>Quiénes somos</h2>
<p>Somos tres grandes amigos de toda la vida, aficionados a la gastronomía y decidimos llevar este proyecto adelante.</p>

<h3>Adrián Arias (Alias DonGato...Email:Dongato.tlw@gmail.com - Lol: NewCharmeleon)</h3>
<h3>Fernando Martín Valdebenito (Capitan Izi - Licenciado en Ciencias del Reggaeton)</h3>
<h3>Ivo Lares (cri...cri... Email:.....@cri cri Ingeniero en cebar mates)</h3>
