<!DOCTYPE html>
<html>
	<head>
		<title>Proto Jeff</title>
	</head>
	<body>
		<div>
			<form method="post" action="registrook">
				<h1>Registrarse</h1>
				Usuario:<br>
				<input type="text" name="nombre" value="usuario" id="n" required>
				<br>
				Contraseña:<br>
				<input type="password" id="c1" name="apellido" value="c1" required>
				<br>
				Confirmar contraseña:<br>
				<input type="password" id="c2" name="cantidad" value="c2" required>
			    <br>
			    <br>
			    <input type="button" value="Volver atrás" onclick="window.location='index';">		
				<input type="submit" id="b" value="Confirmar" onclick="if((ValidarNombre(document.getElementById('n').value)==true)&&(ValidarContr(document.getElementById('c1').value,document.getElementById('c2').value)==true)){document.getElementById('b').submit();}">
				
			</form>
		</div>
		<br>
		<br>
	</body>
</html>
