<!DOCTYPE html>
<html>
	<head>
		<title>Proto Jeff</title>
	</head>
	<body>
		<h2>Registro completo. Prepárese para deleitarse con nuestros suculentos platillos!</h2>
		<input type="button" value="Volver" onclick="window.location='index';">
		<br>
	</body>
</html>
