<html>
 <head>
  <title>Proto Jeff</title>
 </head>
 <body>
  <h1> Perfil personal / Pedidos realizados </h1>
    <table>
    <tr>
     <td>Lugar de entrega</td>
     <td>Dirección</td>
     <td>Total</td>
     <td>Detalle</td>
     <td>Modificar</td>
     <td>Baja</td>
    </tr>
    <tr>
     <td>Delivery</td>
     <td>Cochabamba 1882</td>
     <td>215</td>
     <td><input type="button" value="Detalle"></td>
     <td><input type="button" value="Modificar"></td>
     <td><input type="button" value="Dar de baja"></td>
    </tr>
   </table>
    <input type="button" value="Volver atrás" onclick="window.location='index';">
 </body>
</html>