<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a demasiados intentos fallidos de acceder.</p>

<p>Para desbloquearla, diríjase al siguiente enlace:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
